.dgrid-cell {
    /*width: 175px;*/
    width:175px;
    font-size:11px;
    vertical-align:inherit;
    padding:0px;
}
.field-NumEmpleado {
    width: 45px;
}
.field-Nombre {
    width: 150px;
    /*
        Con la siguiente propiedad: display:none;
        se oculta la celda, se ocupara esta propiedad
        para ocultar la celda que verificara si el 
        registro es valido.
    */
}
.field-Antiguedad{
    width: 80px;
}
.field-Pago{
    width: 900px;
}

.field-ImportePPFNDLVPLT{
    width:220px;
}
.field-ImporteCuotasConstitucion {
    width:250px;
}
.field-PagosDistintosALosListados{
    width:260px;
}
.dgrid-column-set-0 {
    width: 18%;
}

.dgrid-column-set-1 {
    width: 50%;
}

.ERROR{
    background-color:red
}


/***Iconos que se utilizan en el proyecto***/

.validosIcon {
    background: url("./iconos/validos.png") !important;
    width: 20px !important;
    height: 20px !important;
    background-repeat: round;
}

.warningIcon {
    background: url("./iconos/warning.png") !important;
    width: 20px !important;
    height: 20px !important;
    background-repeat: round;
}
