.dgrid-cell {
    /*width: 175px;*/
    width:175px;
}
.field-NumEmpleado {
    width: 80px;
}
.field-Nombre {
    width: 220px;
    /*
        Con la siguiente propiedad: display:none;
        se oculta la celda, se ocupara esta propiedad
        para ocultar la celda que verificara si el 
        registro es valido.
    */
}
.field-Antiguedad{
    width: 80px;
}
.field-Pago{
    width: 900px;
}

.dgrid-column-set-0 {
    width: 18%;
}

.dgrid-column-set-1 {
    width: 50%;
}
