<div>
    <div data-dojo-type="dijit/layout/ContentPane"
         data-dojo-attach-point="topPaneWidget">
        <h1 style="text-align:center;font-weight:bold;color:rgb(90, 116, 143)">
            <span>
                RECIBO DE NOMINA
            </span>
        </h1>
        <label for="txtLink">Ingresa el Link de Google Sheets: </label>
        <div id="txtLink"
             data-dojo-type="dijit/form/TextBox"
             data-dojo-attach-point="txtLinkWidget"
        >  
        </div>
        <button data-dojo-type="dijit/form/Button"
                data-dojo-attach-point="btnCargaWidget"
                >
            <span>
                Cargar
            </span>
        </button>
    </div>
</div>